.videoBlock {
<<<<<<< HEAD
<<<<<<< HEAD
    video {
      margin-bottom: 10px;
      max-width: 100%;
    }
    .videoBlock__title {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }
=======
=======
>>>>>>> feature/#3/video
  video {
    margin-bottom: 10px;
    max-width: 100%;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
<<<<<<< HEAD
}
>>>>>>> feature/#3/video
=======
}
>>>>>>> feature/#3/video
