html,
body {
  height: 100%;
}
body {
  background-color: #f5f5f5;
  color: $black;
<<<<<<< HEAD
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
=======
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
>>>>>>> feature/#3/video
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
}

button,
input:not([type="file"]),
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: $black;
  font-weight: 600;
  background-color: white;
  max-width: 320px;
  resize: none;
<<<<<<< HEAD
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
=======
>>>>>>> feature/#3/video
  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}
button {
  border: none;
  background-color: #3498db;
  color: white;
}
<<<<<<< HEAD
button.delete {
  background-color: $dark-red;
}
=======
 
button.delete {
  background-color: $dark-red;
}
 
>>>>>>> feature/#3/video
button,
input[type="submit"] {
  cursor: pointer;
}